<div class="box my-5">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <%- include('task/header') %>

                <%- include('task/subtasks') %>

                <%- include('task/comments') %>

                <%- include('task/history') %>

                <%- include('task/actions') %>
            </div>
        </div>
    </article>
</div>
